.item {
    margin: 1rem 0;
  }
  
  .content {
    margin: 0 auto;
    margin-top: 3rem;
  }
  
  .content h3, p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .image {
    margin: 0rem auto;
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
  }